.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.input-container input {
  height: 25px;
}
.input-container button {
  height: 25px;

  cursor: pointer;
  color: white;
  background: lightblue;
  border: none;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.input-container button:hover {
  background: blue;
}
